body {
	background: black;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 2500px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left {
	padding: 5px;
	color: black;
}
input {
	border: none;
	font-size: small;
	font-family: "Courier New", Courier, monospace;
}
.body-right {
	padding: 5px;
	color: gray;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	font-size: small;
	font-family: "sans-serif";
}

.postcard-footer {
	text-align: center;
	padding: 5px;
}
button {
	background-color: rgb(89, 88, 88);
	font-style: italic;
	font-family: "sans-serif";
}
